@model List<WebApplication19.Models.Product>
<div class="row" style="">
    <div class="col-lg-12">
        <p>
            <h3>
                Các sản phẩm
            </h3>
        </p>
        <div>
            <p>
                26.000 Mẫu website
            </p>

        </div>
    </div>

    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-6 ">
            <div class="productitem">
                <a href="@Url.Action("Prodetail", "Home", new  { id = item.Id, seourl = item.SeoUrl })">
                    <div class="imagepreview">
                        <img alt="@item.Names" src="@Url.Content(item.ImagesPreview)" />
                    </div>
                    <div class="proname">
                        <h3>
                            @item.Names
                        </h3>

                    </div>
                </a>
                <p>
                    <a href="@Url.Action("ConfirmOrder", "Home", new { id = item.Id })">Đặt hàng</a>
                </p>
            </div>

        </div>
    }
</div>
<style>

</style>