<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="/Scripts/jssor.slider.mini.js"></script>
    <link href="@Url.Content("~/Content/font-awesome.min.css")" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="toppage">
            <div class="topfix">
                <div class="phone">
                    <ul>
                        <li>
                            <a href="tel:+84981407789">
                                Kỹ thuật 24/7: 0981407789
                            </a>
                        </li>
                        <li>
                            <a href="tel:+84976876663">
                                Kinh doanh: 0976876663
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="email">
                    <ul>
                        <li>
                            <a>
                                Kỹ thuật 24/7: support@plsoft.com
                            </a>
                        </li>
                        <li>
                            <a>
                                Kinh doanh: Sale@plsoft.com
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="topmenu">
                @Html.Action("GetMenu", "Home")
            </div>
        </div>
        <div>
            @RenderBody()
        </div>
        <div class="bottompage">

        </div>

    </div>

</body>
</html>
<style>
    img {
        max-width: 100%;
        display: block;
        margin: auto;
    }

    .navbar-inverse {
        background-color: #fff;
        border-color: #fff;
        color: #000;
    }

    .phone {
        float: left;
    }

    .email {
        float: right;
    }

    .topfix {
        display: inline-block;
        width:100%;
    }
</style>